@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair", sans-serif;
}

:root {
  --background: #bbc6fa;
  --qb-background: #fff;
  --qb-boxShadow: rgba(0, 0, 0, 0.15);
}

body {
  background: var(--background);
}

.quote-box {
  background: var(--qb-background);
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px var(--qb-boxShadow);
  transition: all 1s ease-in-out;
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 1.625rem;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: -1px 1px 1px black;
}

.quote-box button:active {
  transform: translateY(3px);
}

.btn-icon {
  width: 30px;
  margin-right: 10px;
}

.quote-box,
.quote-box button:nth-child(1) {
  text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.555);
}

.quote-box button:nth-child(2) {
  background: rgba(67, 133, 133, 0.679);
  color: #333;
  text-shadow: 1px 1px 1px rgba(255, 217, 0, 0.462);
}
